<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271363691020-bqq8s4o2hbb5j14qnemvumn6rtmfe41s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271363691020-bqq8s4o2hbb5j14qnemvumn6rtmfe41s</string>
	<key>API_KEY</key>
	<string>AIzaSyBV-7m0R3mM282om7-Ef1aR1ZfVhxtprVw</string>
	<key>GCM_SENDER_ID</key>
	<string>271363691020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sraQatra</string>
	<key>PROJECT_ID</key>
	<string>sra-qatra-a2c68</string>
	<key>STORAGE_BUCKET</key>
	<string>sra-qatra-a2c68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271363691020:ios:56b5df5bbc13c58074d429</string>
</dict>
</plist>